.item-details {
  flex-direction: row;
  padding: 16px;
  border-radius: 8px;
}

.item-details-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 48px;
  border-radius: 8px;
}

.item-details-info {
  flex: 1;
}

.item-details .list-group-item {
 padding: 8px;
}